---
layout: default
---

<!--
<ul>
    <li>Semantic</li>
    <li>Flexible</li>
    <li>Fluid</li>
    <li>Elastic</li>
    <li>Responsive</li>
    <li>Zoomable</li>
    <li>Declarative</li>
    <li>Debugable</li>
    <li>HTML5 and CSS3 Ready</li>
    <li>Simple</li>
    <li>Web developer natural vocabulary</li>
</ul>
-->

<h2 id="whatis">A Unitless, Fluid, Elastic, Semantic, Responsive, Scalable, Debuggable, Declarative, Simple to use Grid System! And... HTML5 and CSS3 Ready!</h2>

<figure id="faststart-video">
    <div id="video-container">
        <div id="aspect-ratio-enforcer"></div>
        <div id="video">
            <iframe src="http://player.vimeo.com/video/48924076?portrait=0&amp;color=79A7EC" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    </div>
    <figcaption>Get the demo code on <a href="https://github.com/bernardoantunes/unitgs-demo">GitHub</a> or see it <a href="http://demo.unit.gs/">Live</a>.</figcaption>
</figure>

<!-- include videos.html -->
{% include sites-using-unitgs.html %}
{% include inspiration-and-references.html %}
{% include faqs.html %}