---
layout: default
---

<!--
<ul>
    <li>Semantic</li>
    <li>Flexible</li>
    <li>Fluid</li>
    <li>Elastic</li>
    <li>Responsive</li>
    <li>Zoomable</li>
    <li>Declarative</li>
    <li>Debugable</li>
    <li>HTML5 and CSS3 Ready</li>
    <li>Simple</li>
    <li>Web developer natural vocabulary</li>
</ul>
-->

<div id="video-container">
    <div id="aspect-ratio-enforcer"></div>
    <div id="video">
        <iframe src="http://player.vimeo.com/video/48378823?portrait=0&amp;color=79A7EC" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
</div>

{% include videos.html %}
{% include sites-using-unitgs.html %}
{% include inspiration-and-references.html %}
{% include faqs.html %}