<section id="contribute-to-the-project">
<h1>Contribute to the project</h1>

There is a lot to be done in this project to make it even more cool.
<ul>
    <li>Optimizations</li>
    <li>Tests</li>
    <li>Bug corrections</li>
    <li>Gem files</li>
    <li>Participate in the forums, help the community</li>
    <li>Grid Overlay</li>
    <li>New functionalities</li>
    <li>Improove documentation</li>
    <li>More and better examples</li>
    <li>Video tutorials</li>
    <li>Create blueprints and starter kits</li>
</ul>

</section>