<section id="easy-start-templates-snippets">
<h1>Easy start templates snippets</h1>

<p>12 columns</p>

{% highlight sass %}
@include grid-settings();
{% endhighlight %}

<p>15 columns</p>

{% highlight sass %}
@include grid-settings();
{% endhighlight %}

<p>16 columns</p>

{% highlight sass %}
@include grid-settings();
{% endhighlight %}

<p>16 + 2 columns</p>

{% highlight sass %}
@include grid-settings();
{% endhighlight %}

<p class="note">Note: to better understand this grid configuration see the <a href="http://goldengridsystem.com/">Golden Grid System</a> by <a href="http://jonikorpi.com/">Joni Korpi</a>.</p>

<p>24 columns</p>

{% highlight sass %}
@include grid-settings();
{% endhighlight %}

<p>24 + 1 columns</p>

{% highlight sass %}
@include grid-settings();
{% endhighlight %}

<p class="note">Note: I will explain this mode in a future article. You can see it in action in my website <a href="http://bernardoantunes.com">bernardoantunes.com</a>.</p>

<p class="tip">You want to set a max-width for your grid?<br/>
Simple, just create an outside container (div) and set its max-width to the value that you want.</p>
</section>