<section id="inspiration-and-references">
<h1>Inspiration and References</h1>

<ul>
	<li>
		<a href="http://goldengridsystem.com/">Golden Grid System</a> from <a href="http://jonikorpi.com/">Joni Korpi</a> - This project started because I wanted my site to look like that. Amazing artist... my main reference for how to create a grid system. Be sure to check it out.
	</li>
	<li>
		<a href="http://semantic.gs">Semantic.gs</a> - A simple to use semantic grid system.
	</li>
	<li>
		320 and up - Mobile first is the way to create a responsive design. Feel free to sketch as you want, but implementing... always mobile first.
		<p class="note">Note: When I didn't do that, I regreted...</p>
	</li>
	<li>
		Vertical Rythm - 
	</li>
	<li>
		Boilerplate - 
	</li>
	<li>
		Modular Scales - 
	</li>
	<li>
		Web Typography - 
	</li>
</ul>

</section>