<section id="sites-using-unitgs">
<h1>Sites using the Unit Grid System</h1>

<ul>
	<li class="odd">
		<figure>
		 	<figcaption>24+1 columns</figcaption>
			<a href="http://bernardoantunes.com/">
				<img src="/img/sites/bernardoantunescom.jpg" alt="Bernardo Antunes' Web">
			</a>
		</figure>
	</li>
	<li class="even">
		<figure>
		 	<figcaption>24+1 columns</figcaption>
			<a href="http://unit.gs/">
				<img src="/img/sites/unitgs.png" alt="Unit Grid System">
			</a>
		</figure>
	</li>
</ul>

<p>Send us your site, tell us about your experience with the Unit Grid System.</p>

</section>