<section class="startup-step">
<h1>0. Setup the development environment</h1>

<p>Just copy the \_UnitGS.scss from the GitHub to your Sass directory and start using the grid.</p>
<p>The UnitGS uses Sass, to setup it up go <a href="http://sass-lang.com/">here</a>.</p>
<p>Even better with <a href="http://compass-style.org/">Compass</a>.</p>
<p>Clean project? Don't have time to learn about all the html best practices, no problem, make your site HTML5 and CSS3 ready with <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>.</p>
</section>
