<h2>1.5 Set the gutters</h2>

<div id="set-the-gutters">
	<div class="inactive"></div>
	<div class="inactive"></div>
	<div><div></div>1<div></div></div>
	<div><div></div>2<div></div></div>
	<div><div></div>3<div></div></div>
	<div><div></div>4<div></div></div>
	<div><div></div>5<div></div></div>
	<div><div></div>6<div></div></div>
	<div class="inactive"></div>
	<div class="inactive"></div>
</div>

<p>(default: 1) Value calculated over the line-height.</p>

<p class="note">Note: Unit Grid Sytem uses elastic gutters as it should be. :)</p>
